@media screen and (min-width: 320px) {
  .Container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .Container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .Container {
    width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}
