.block_titel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.block_titel > h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}
