@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root {
  --main-text-color: #181c27;
  --button-color: #ff6b08;
  --main-font: 'Montserrat', sans-serif;
  --label-text-color: rgba(24, 28, 39, 0.6);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: aliceblue;
}
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: #F1F2F7
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
}
