@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root {
  --main-text-color: #181C27;
  --button-color: #FF6B08;
  --main-font: 'Montserrat', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  margin: 0;
}

body {
 font-family:  var(--main-font);;
 color:  var(--main-text-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
